{% extends "base.html" %}
{% block title %}Add Students {{ class[1] }} {% if not "class" in class[1]|lower %}Class{% endif %} | TeamUp{% endblock title %}{% block content %}
<div class="wrapper">
    <h1 class="page-header">Add students</h1>
    <p>Add comma separated names to the text area below. Click save when you are ready to add those students.</p>
    <form action="/classes/{{class.id}}/students/batch" method="POST">
        <div class="input-group">
            <label for="students">Student names</label>
            <textarea id="students" name="students" rows="5" autofocus></textarea>
        </div>
        <button type="submit">Save</button>
    </form>
</div>
<script>
    document.querySelectorAll("textarea").forEach(function(textarea) {
        textarea.style.height = "auto"; // Reset height to allow shrinking
        textarea.style.height = textarea.scrollHeight + "px"; // Set height to scrollHeight
        textarea.style.overflowY = "hidden"; // Hide scrollbar if present

        textarea.addEventListener("input", function() {
            this.style.height = "auto";
            this.style.height = this.scrollHeight + "px";
        });
    });
</script>
{% endblock content %}