{% extends "base.html" %}
{% block title %}Add Students {{ class[1] }} {% if not "class" in class[1]|lower %}Class{% endif %} | TeamUp{% endblock title %}{% block content %}
<div class="wrapper">
    <h1 class="page-header">Add students</h1>
    <p>Add comma separated names to the text area below. Click save when you are ready to add those students.</p>
    <button 
        hx-get="/classes/{{class.id}}/students/input"
        hx-target="next form > ul"
        hx-swap="afterbegin"
        class="student-input-btn"
        type="button">
        Add student
    </button>
    <p class="count-container">Number of students: <span id="student-count">0</span></p>
    <form
        action="/classes/{{class.id}}/students/batch"
        method="POST"
        hx-post="/classes/{{class.id}}/students/batch"
        hx-swap="none">
        <ul id="student-list" hx-on::after-swap="updateStudentCount()"></ul>
        <span id="student-error" class="error"></span>
        <button type="submit" disabled="true">Save students</button>
    </form>
</div>
{% endblock content %}