{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    <section>
        <div>
            <h1>Edit {{class.name}}</h1>
            <a href="/classes/{{class.id}}/delete" hx-delete="/classes/{{class.id}}" hx-swap="none">Delete</a>
        </div>
        <h2>Class Information</h2>
        <form 
            hx-put="/classes/{{request.path_params.get('class_id')}}"
            hx-target="body"
            >
            <div class="input-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{class.name}}" autofocus/>
            </div>
            <button type="submit">Save</button>
        </form>
    </section>
    <section>
        <h2>Students</h2>
        <a href="/classes/{{class.id}}/students">Batch add students</a>
        {% if students %}
        <ul>
            {% for student in students  %}
                <li id="{{student.id}}">
                    {% include "classes/_student.html" %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>You don't have any students registered yet.</p>
        {% endif %}
    </section>
</div>
{% endblock content %}