{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    <section>
        <header>
            <h1>Edit {{class.name}}</h1>
            <a 
            href="/classes/{{class.id}}/delete" 
            hx-delete="/classes/{{class.id}}" 
            hx-swap="none"
            hx-confirm="Are you sure you want to delete this class? There is no going back.">Delete</a>
        </header>
    </section>
    <section>
        <h2>Class Information</h2>
        <form 
            hx-put="/classes/{{request.path_params.get('class_id')}}"
            hx-target="body"
            >
            <label for="name">
                Name
                <input type="text" id="name" name="name" value="{{class.name}}" autofocus/>
            </label>
            <button type="submit">Save</button>
        </form>
    </section>
    <section>
        <header>
            <h2>Students</h2>
            <a href="/classes/{{class.id}}/students">Add</a>
        </header>
        {% if students %}
        <ul>
            {% for student in students  %}
                <li id="{{student.id}}">
                    {% include "classes/_student.html" %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>You don't have any students registered yet.</p>
        {% endif %}
    </section>
</div>
{% endblock content %}