{% extends "base.html" %}
{% block title %}New Class | TeamUp{% endblock title %}
{% block content %}
<div class="wrapper">
    <h1 class="page-header">New Class</h1>
    <form 
        action="/classes"
        method="POST"
        hx-post="/classes"
        hx-swap="none"
        hx-disabled-elt="find button"
        >
        <label for="name">
            Name
            <input type="text" id="name" name="name" autofocus/>
            <span id="name-error" class="error">{% if form_errors and form_errors.get("name") %}{{form_errors.get("name")}}{% endif %}</span>
        </label>
        <button type="submit">Save</button>
    </form>
</div>
{% endblock content %}