@view-transition {
    navigation: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.htmx-indicator {
    opacity: 0;
    display: none;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
    opacity: 1;
    display: block;
    transition: opacity 200ms ease-in;
    transition-behavior: allow-discrete;
}


.htmx-request .indicating-hide,
.htmx-request.indicating-hide {
    opacity: 0;
    display: none;
    transition: opacity 200ms ease-in;
    transition-behavior: allow-discrete;
}


body {
    overflow-y: scroll;
    font-size: 18px;
    margin: 0;
}

.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 0 0.5rem 0 0.5rem;
}


header > div {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.example {
    margin: 0;
}

form {
display: grid;
    max-width: 500px;

    #teams-button {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 48px;
        margin: 1rem 0 0 0;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        margin: 0 0 0.5rem 0;
    }

    .quantity {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }


    .checkbox-group label {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .error {
        height: 16px;
        color: red;
        text-align: right;
        font-size: 14px;
        {{/* margin-bottom: 1rem; */}}
    }
    
}

.flexform {
    display: flex;
    gap: 1rem;
}

/* Media query for screens larger than typical mobile phones */
@media screen and (min-width: 400px) {
    form {
        #teams-button {
            position: static; /* Button no longer fixed at bottom */
            width: auto;
            height: auto;
            margin-top: 1rem;
        }
    }
}

ul {
    padding: 0;
    list-style-type: none;
}

{{/* teams page styles */}}

.team-page {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    padding-inline: 0.5rem;
    
    section {
        scroll-snap-align: start;
        height: 100vh;
        overflow-y: auto;
        padding-block: 3rem;
    }
}

.team {
    min-height: 25%;
    margin-bottom: 1rem;

    ul > li {
        padding-block: 0.5rem;
        border-bottom: 1px solid black;
    }

    ul > li:last-of-type {
        border-bottom: 0;
    }
    label {
        font-size: 1.5rem;
    }
}
