:root {
    --toggle-green: hsl(128 90 45);
    --toggle-red: hsl(351 91 56);
}

@view-transition {
    navigation: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.htmx-indicator {
    opacity: 0;
    display: none;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
    opacity: 1;
    display: block;
    transition: opacity 200ms ease-in;
    transition-behavior: allow-discrete;
}


.htmx-request .indicating-hide,
.htmx-request.indicating-hide {
    opacity: 0;
    display: none;
    transition: opacity 200ms ease-in;
    transition-behavior: allow-discrete;
}


body {
    overflow-y: scroll;
    font-size: 18px;
    margin: 0;
}

.wrapper {
    max-width: 600px;
    margin: auto;
    padding-inline: 0.5rem;
}


header > div {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.example {
    margin: 0;
}

form {
    display: grid;
    max-width: 500px;

    
    .input-group {
        display: flex;
        flex-direction: column;
        margin: 0 0 0.5rem 0;
    }

    label {
        position: relative;
        padding-block: 0.5rem;
        border-bottom: 1px solid black;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    label.quantity {
        align-items: center;
        margin-bottom: 1rem;
        border-bottom: 0;
    }

    label.quantity > input {
        text-align: right;
        padding-block: 0.25rem;
        padding-inline: 0.5rem;
    }

    label:last-of-type {
        border-bottom: 0;
    }
    
    .toggle input {
        position: absolute;
        opacity: 0;
    }

    .track {
        display: inline-block;
        width: 44px;
        height: 24px;
        border-radius: 12px;
        background-color: var(--toggle-red);
        position: relative;
        transition: background-color 0.2s ease-in;
    }

    .track::after {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: transform 0.2s;
    }

    .toggle input:checked + .track {
        background-color: var(--toggle-green);
    }

    .toggle input:checked + .track::after {
        transform: translateX(20px);
    }

    .error {
        height: 16px;
        color: red;
        text-align: right;
        font-size: 14px;
        {{/* margin-bottom: 1rem; */}}
    }

    #teams-button {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 48px;
        margin: 1rem 0 0 0;
    }

    
}

.flexform {
    display: flex;
    gap: 1rem;
}

/* Media query for screens larger than typical mobile phones */
@media screen and (min-width: 400px) {
    form {
        #teams-button {
            position: static; /* Button no longer fixed at bottom */
            width: auto;
            height: auto;
            margin-top: 1rem;
        }
    }
}

ul {
    padding: 0;
    list-style-type: none;
}

{{/* teams page styles */}}

.team-page {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    padding-inline: 0.5rem;


    section {
        scroll-snap-align: start;
        height: 100vh;
        overflow-y: auto;
        padding-block: 3rem;
    }
}

@media screen and (min-width: 600px) {
    .team-page {
        height: auto;
        padding-inline: 0;

        section {
            max-width: 600px;
            margin-inline: auto;
            height: auto;
        }
    }
}

.center {
    height: 100%;
    display: grid;
    place-content: center;
}

.team {
    min-height: 25%;
    margin-bottom: 1rem;

    ul > li {
        padding-block: 0.5rem;
        border-bottom: 1px solid black;
    }

    ul > li:last-of-type {
        border-bottom: 0;
    }
    label {
        font-size: 1.5rem;
    }
}
