<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Generator | Class {{request.path_params.get("class_id")}}</title>
</head>
<body>
    {% include "_header.html" %}
    <h1>Your Class {{request.path_params.get("class_id")}}</h1>
    <p>Manage your class information and student list.</p>
    <h2>Here is a list of the students in this class</h2>
    {% if students %}
    <ul>
        {% for student in students  %}
            <li>{{student}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You don't have any students registered yet.</p>
    {% endif %}
</body>
</html>