{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    {% if not user %}
    <h1 class="page-header">Sign in</h1>
    <form action="/login" method="POST" hx-post="/login" hx-swap="none">
        <label for="username">
            Email
            <input id="username" type="text" name="username" autofocus autocomplete="username" value="{% if form_values and form_values.get('username') %}{{form_values.get('username')}}{% endif %}"/>
            <span class="error">{% if form_errors and form_errors.get("email") %}{{form_errors.get("email")}}{% endif %}</span>            
        </label>
        <label for="password">
            Password
            <input id="password" type="password" name="password" value="{% if form_values and form_values.get('password') %}{{form_values.get('password')}}{% endif %}"/>
            <span class="error">{% if form_errors and form_errors.get("password") %}{{form_errors.get("password")}}{% endif %}</span>            
        </label>
        <button type="submit">
        <span class="indicating-hide">Log in</span>
        <span class="htmx-indicator">Logging in</span>
        </button>
    </form>
    {% else %}
    <h1 class="page-header">Your classes</h1>
    <ul class="class-list">
        <li class="add-btn">
            <a href="/classes/new">
                {% if classes|length == 0 %}Add first class{% else %}Add class{% endif %}
            </a>
        </li>
        {% for class in classes %}
            <li>
                {{ class.name }}
                <div class="button-group">
                    <a href="/classes/{{class.id}}/edit">Manage</a><a href="/classes/{{class.id}}/teams">Teams</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}