{% extends "base.html" %}
{% block content %}
{% if not user %}
    <h1>Sign In</h1>
    <p>the form will go here</p>
    <ul>
        {% for user in users %}
            <li><form action="login" method="POST"><input type="hidden" name="email" value="{{user.email}}"/><button type="submit">{{user.email}}</button></form></li>
        {% endfor %}
    </ul>
{% else %}
    <h1>Welcome to the home of all things teams</h1>
    <p>Make quick, easy teams for all your classes. Spend more time playing and less time setting up.</p>
    <h2>Here is a list of all your classes</h2>
    <a href="/classes/new">Add New Class</a>
    {% if classes %}
    <ul>
        {% for class in classes  %}
            <li><a href="/classes/{{class.id}}">{{class.name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You don't have any classes yet.</p>
    {% endif %}
{% endif %}
{% endblock content %}