{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    {% if not user %}
    <h1>Sign In</h1>
    <form action="/login" method="POST" hx-post="/login" hx-swap="none">
        <label for="username">
            Email
            <input id="username" type="text" name="username" autofocus autocomplete="username" value="{% if form_values and form_values.get('username') %}{{form_values.get('username')}}{% endif %}"/>
            <span class="error">{% if form_errors and form_errors.get("email") %}{{form_errors.get("email")}}{% endif %}</span>            
        </label>
        <label for="password">
            Password
            <input id="password" type="password" name="password" value="{% if form_values and form_values.get('password') %}{{form_values.get('password')}}{% endif %}"/>
            <span class="error">{% if form_errors and form_errors.get("password") %}{{form_errors.get("password")}}{% endif %}</span>            
        </label>
        <button type="submit">
        <span class="indicating-hide">Log in</span>
        <span class="htmx-indicator">Logging in</span>
        </button>
    </form>
    {% else %}
    <header class="list-header">
        <h1>Your classes</h1>
        <a href="/classes/new">New</a>
    </header>
    {% if classes %}
    <ul class="class-list">
        {% for class in classes  %}
            <li><a href="/classes/{{class.id}}">{{class.name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You don't have any classes yet.</p>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}