<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Generator | Class {{request.path_params.get("class_id")}}</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    {% include "_header.html" %}
    <h1>Make Your Teams</h1>
    <p>Remove absent students, choose your number of teams, and get new teams as often as you want.</p>
    <h2>Your teams</h2>
    <div id="teams">
        <p>You haven't made any teams yet</p>
    </div>
    <h2>Students here today:</h2>
    {% if students %}
    <form 
        hx-post="/classes/{{request.path_params.get('class_id')}}/make-teams"
        hx-target="#teams"
        >
        {% for student in students %}
        <div class="input-group">
            <label for="student-{{student[-1]}}">{{student}}</label>
            <input id="student-{{student[-1]}}" name="students" type="checkbox" checked value="{{student}}">
        </div>
        {% endfor %}
        <button type="submit">Make Teams</button>
    </form>
    {% else %}
    <p>Oops. There are no students in this class.</p>
    {% endif %}
    {# <a href="/classes/{{request.path_params.get('class_id')}}/make-teams">Make teams</a> #}
</body>
</html>